@page
@model finalChallenge.Pages.Fixtures.IndexModel

@{
    ViewData["Title"] = "Index";
}
[Authorized]
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].CourtFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fixture[0].AmountPaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fixture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
